body {
  margin: 0;
}

nav {

}

ul {
  padding: 0;
  list-style: none;
}

header {
  background-color: #233470;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-content {
  display: flex;
}

.header-title, .header-image {
  width: 50%;
}